ASSIGNMENT 2

Q1. How do you comment code in Python? What are the different types of comments?

Ans - I comment using "#" in python. Different types of comments in python are 
1) Single line comment - This is used by using "#". This is for a single line comment only. For example

In [1]:
# This is my assignment 2

2. Multi line comments - """ or ''' are used to write the comment in multiple lines.

3. Docstrings - These are used inside a function within """.

Q2. What are variables in Python? How do you declare and assign values to variables?

Ans - Variables are characters or words in python which are used to store values of different data types such as
integer, string, float, boolean, etc.
We use "=" to assign values to variables. For example :

In [5]:
a = "Shashi Kant Sharma"

Here, a is variable and its value is "Shashi Kant Sharma"

In [6]:
a

'Shashi Kant Sharma'

Q3. How do you convert one data type to another in Python?

We use functions like int(), float(), str() to convert one data type to another in python.

Q4. How do you write and execute a Python script from the command line?

Ans - I open a command line and type the word python followed by the path to my script file like this: 
    python script.py Hello World! Then press enter.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [8]:
my_list = [1,2,3,4,5]
print(my_list[1:3])

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Ans - A complex number in python are numbers which are not real. It is written as 3+4i in mathematics.
But in python it is represented as 4+8j. For example :

In [9]:
c = 4+8j

In [10]:
c

(4+8j)

In [11]:
type(c)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

Ans - The correct way to declare it is  :

In [12]:
age = 25

In [13]:
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [14]:
price = 9.99

In [15]:
type(price)

float

Hence this is of float data type.

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [16]:
name = "Shashi Kant Sharma"

In [17]:
# To print the value of this variable, we use
print(name)

Shashi Kant Sharma

Q10. Given the string "Hello, World!", extract the substring "World".

In [18]:
"Hello,World!"[6:11]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [19]:
is_student = True

In [20]:
is_student

True